<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <meta property="layoutFile" content="::base::layouts/_default/popular.html" />
   {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}    
      
        <header class="header-section">
         <div class="intro-header no-img">
            <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="{{ .Type }}-heading">
                      <h1>Posts by Popularity</h1>
                    </div>
                  </div>
                </div>
              </div>    
          </div>
        </header>  

		  <div role="main" class="container">
			<div class="row">
			  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				{{ with .Content }}
				  <div class="well">
					<div class="hero">
					  {{.}}
					</div>
				  </div>
				{{ end }}

				<div class="posts-list">
					
					{{ $p := slice }}
					{{ range ((where .Site.RegularPages "Section" "post").GroupByParam "popular").Reverse }}
						{{ range (.Pages.ByDate).Reverse }}
							{{ $p = $p | append . }}
						{{ end }}
					{{ end }}
				  {{ range (.Paginate $p).Pages }}
					<article class="post-preview">
					  <a href="{{ .Permalink }}">
						<h2 class="post-title">{{ .Title }}</h2>
						{{ if .Params.subtitle }}
						  <h3 class="post-subtitle">
						  {{ .Params.subtitle }}
						  </h3>
						{{ end }}
					  </a>

					  {{ partial "post_meta.html" . }}
					  <div class="post-entry">
						{{ if .Truncated }}
						  {{ .Params.summary }}

						  <p class="bodysmall"> Estimated reading time: {{ .ReadingTime }} minutes 
						  {{ if .Params.updated }}
	  
						  - Last updated: {{ .Params.updated }}
  
						{{ end }}</p>
						  <a href="{{ .Permalink }}#commento" class="post-read-more">[{{ i18n "readMore" }}]</a>
						{{ else }}
						  {{ .Content }}
						{{ end }}
					  </div>

					  {{ if .Params.tags }}
						<span class="post-meta">
						{{ range .Params.tags }}
						  #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
						{{ end }}
						</span>
					  {{ end }}
					</article>
				  {{ end }}
				</div>

				{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
				  <ul class="pager main-pager">
					{{ if .Paginator.HasPrev }}
					  <li class="previous">
						<a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
					  </li>
					{{ end }}
					{{ if .Paginator.HasNext }}
					  <li class="next">
						<a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
					  </li>
					{{ end }}
				  </ul>
				
				{{ end }}
			  </div>
			</div>
		  </div>
		  <script src="https://cdn.commento.io/js/count.js"></script>


    {{ partial "footer.html" . }}
  </body>
</html>

