<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <meta property="lAYOUTfILE" content="::theme::layouts/_default/baseof.html" />
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>

