{{ define "main" }}
<meta property="lAYOUTfILE" content="::theme::layouts/_default/single.html" />
<div class="container">
  <!-- ::theme::layouts/_default/single.html -->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
      
        {{ .Content }}
      </article>
      <br>
      
      <br>
      <!--<!-- this is the voting form-->
      <form name="votes" method="POST" data-netlify="true">
        <p>Vote for this story, up or down : &nbsp;&nbsp;&nbsp;&nbsp;
        
          <label>I like it! <input type="radio" name="upvote" /></label>   : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        
          <label>I don't like it <input type="radio" name="downvote" /></label>   : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
       
          <button type="submit">Vote</button>
        </p>
        <input type="hidden" name="uid" value="{{ .Params.uid }}">
      </form>
      <!-- -->

<script defer src="https://cdn.commento.io/js/commento.js"></script>
<div id="commento"></div>
      <ul class="pager blog-pager">
        {{ if .PrevInSection }}
          <li class="previous">
            <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
          </li>
        {{ end }}
        {{ if .NextInSection }}
          <li class="next">
            <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
          </li>
        {{ end }}
      </ul>
 
      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>
    
  </div>
 
</div>

{{ end }}


