

#hero {
    font-family: 'Source Serif Pro', 'Times New Roman', serif;
    font-size: 18px;
    color: #202020;
    position: relative;
    background: #FFF;
    line-height: 1;
    margin: 10px 0;
    text-align: center;
}
