{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="text-center">
      <h1>{{ i18n "pageNotFound" }}</h1>
      <br/>
      <h2>This page definitely does not exist</h2><br>
      <h3>Better hit the back button ...</h3>
    </div>
  </div>
{{ end }}

